package ${package}.service;

import java.util.List;

import ${package}.pojo.${ClassName};


public interface ${ClassName}Service {


    public List<${ClassName}> List(${ClassName} ${className});

    public ${ClassName} query(${pkColumn.attrType} id);

    public int add(${ClassName} ${className});

    public int edit(${ClassName} ${className});

    public int delete(${pkColumn.attrType} id);

}
